In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

df = pd.read_csv('data_smart.csv', sep = ';', encoding = 'utf-8',engine='c')


df

,timeInstant,humidity,humiditySoil,temperature,Liga,HumidityIdeal
0,30-03-2022T21:26:49,73.0,92.26,27.90,0,50
1,29-03-2022T17:33:22,76.6,91.01,25.90,0,50
2,28-03-2022T18:15:21,92.2,83.98,25.32,0,50
3,29-03-2022T17:29:21,76.0,83.81,25.93,0,50
4,01-04-2022T10:30:14,88.0,8.57,20.40,1,50
...,...,...,...,...,...,...
393,28-03-2022T15:45:15,27.0,50.00,39.70,1,50
394,28-03-2022T15:14:14,29.2,51.00,39.18,1,50
395,28-03-2022T15:26:15,19.0,60.00,43.46,1,50
396,28-03-2022T15:29:15,23.5,59.00,40.67,1,50
397,28-03-2022T15:25:15,19.0,50.00,43.42,1,50

In [2]:
from pycaret.classification import *
s = setup(df, target = 'Liga')

In [3]:
best = compare_models()

In [4]:
print(best)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=-1, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
evaluate_model(best)

In [ ]:
plot_model(best, plot = 'auc')

In [ ]:
plot_model(best, plot = 'confusion_matrix')

In [ ]:
predict_model(best)

In [ ]:
predictions = predict_model(best, data=df)
predictions.head()

In [ ]:
predictions = predict_model(best, data=df, raw_score=True)
predictions.head()