In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

df = pd.read_csv('Pasta1.csv', sep = ';', encoding = 'utf-8',engine='c')

df = df.drop(columns=['planta'])

df

    umidadeSolo  temperaturaAmbiente  umidadeAmbiente  umidadeIdeal  Liga
0             2                   15               84            50     1
1            46                   39               38            50     1
2            59                    5               24            50     0
3            36                   44               30            50     1
4            66                   34               41            50     0
5             8                   16               66            50     1
6            32                   40               24            50     1
7           100                    3               25            50     0
8            45                   12                5            50     1
9            79                    7               58            50     0
10           30                    3               37            50     1
11           27                   12               33            50     1
12            2                    4               68            50     1
13           16                   35               42            50     1
14           40                   39                7            50     1
15           10                    5               56            50     1
16           75                   33                8            50     0
17           71                   39               45            50     0
18           63                   20               55            50     0
19           38                   35               53            50     1
20           48                    1               63            50     0
21           39                    5               98            50     0
22           40                   11               41            50     1
23           52                   12               78            50     0
24           63                   10               20            50     0
25           69                   20               24            50     0
26           66                   12               44            50     0
27           68                   18                8            50     0
28           72                   44               12            50     0
29           62                   42               10            50     0
30           78                   43               82            50     0
31            5                   43                2            50     1
32           28                   19               84            50     0
33           94                   38               57            50     0
34           66                   40               38            50     0
35           95                    4               46            50     0
36           57                    5               80            50     0
37           68                   10               29            50     0
38           60                   12               29            50     0
39           59                   36               34            50     0
40           69                    9               46            50     0
41            7                   29               94            50     1
42           77                   27               42            50     0
43           93                   17                2            50     0
44           35                   12               92            50     1
45           47                   45               72            50     0
46           84                    6               60            50     0
47           42                    6               53            50     1
48           41                   31               54            50     1
49           33                   34                4            50     1

In [4]:
from pycaret.classification import *
s = setup(df, target = 'Liga')

In [5]:
best = compare_models()

In [8]:
print(best)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=1551, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
evaluate_model(best)

In [ ]:
plot_model(best, plot = 'auc')

In [ ]:
plot_model(best, plot = 'confusion_matrix')

In [ ]:
predict_model(best)

In [ ]:
predictions = predict_model(best, data=df)
predictions.head()

In [ ]:
predictions = predict_model(best, data=df, raw_score=True)
predictions.head()