In [7]:
import pandas as pd

df = pd.read_csv('Pasta1.csv', engine= 'python')
df.head()

  umidadeSolo;temperaturaAmbiente;umidadeAmbiente;umidadeIdeal;planta;Liga
0                                  2;15;84;50;Soja;1
1                                 46;39;38;50;Soja;1
2                                  59;5;24;50;Soja;0
3                                 36;44;86;50;Soja;1
4                                 66;34;41;50;Soja;0